.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex; //add this line
  align-items:center; //add this line
  justify-content:space-between; //add this line
  padding:10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin:auto;

}

ul {
  /* this removes the dots on the list items*/
  display:flex; //add this line
  margin:0; //add this line
  padding:0; //add this line
  gap:10px; //add this line
  //justify-content:space-between;
  //align-items:center;
  list-style-type: none;
  
}


a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

